body {
  background-color: snow;
}
.jumbotron {
  background-color: #000000;
  color: #ccc;
  text-align: center;
}

.bike-image {
  max-height: 200px;
}

.even {
  background-color: #f2f2f2;
}

.row {
  height: 240px;
  padding: 1rem 0;
}
.title {
  color: #0000ff;
}
